name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            sudo yum install git -y

            cd /home/ec2-user

            if [ ! -d "appbackend" ]; then
              git clone https://github.com/YasmineMhadhbi/appbackend.git
            fi

            cd appbackend

            git pull origin main

            docker stop appbackend || true
            docker rm appbackend || true

            docker build -t appbackend .

            docker run -d \
              -p 8000:8000 \
              --name appbackend \
              --restart always \
              appbackend